@charset "utf-8";
/* CSS Document */
.g-header1 { padding: .12rem .24rem 0 .24rem;}
article h1{ background:#efebef; line-height:.72rem; height:.72rem; text-align:center;}
article .wash{ margin-bottom:.72rem;}
article .wash .wash-left{ text-align:left;padding-left:.24rem;}
article .wash .wash-right{float:right;padding-right:.24rem;}
article .wash li{ line-height:.72rem; height:.72rem; border-bottom:#efebef solid .01rem;}
article .rmb{position: fixed;    bottom: 1.18rem;;    left: 0;    right: 0;    z-index: 999;}
article .rmb li{ display:inline; width:50%; text-align:center; line-height:.72rem; height:.72rem; float:left;}
article .rmb .price{ background:#efebef; color:#34adfc;}
article .rmb .buy{ background:#34adfc; color:#fff;}
.wash-service{ padding:.24rem 0;}
.wash-service li{ line-height:.48rem;}
.wash-service li .wash-name{ font-size:.28rem;font-weight:600;}
.wash-service li .wash-weight{font-weight:600; padding-right:.24rem;}
.wash-service li .wash-gray{color:#666;} 
.font-blue1{
    color: #34adfc;
    width: 70%;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: .24rem;
    text-align: left;
}
/*微信安全支付*/
.gbd-top{ margin-top:.96rem;}
.pay{ text-align:center; line-height:.68rem;}
.pay,.pay-list{ color:#333; letter-spacing:.03rem;}
.pay .price{ font-size:.48rem; font-weight:600;}
.pay-list{ background:#fff;}
.pay-list li{ line-height:.72rem; border-bottom:#efebef solid .01rem; }
.pay-list .pay-left{ text-align:left; padding-left:.24rem;}
.pay-list .pay-right{float:right; padding-right:.24rem;}
.btn-style{ background:#34adfc; color:#fff; text-align:center; border-radius:.08rem; margin:.68rem .24rem; line-height:.78rem;}
/*订单列表*/
.order{ margin-top:1.2rem;}
.order-list{ color:#333; letter-spacing:.03rem; margin:0 .24rem; margin-top:.24rem; border-radius:.12rem;}
.order-list{border:#efebef solid .01rem;}
.order-list li:first-child{ border-bottom:#efebef solid .01rem;}
.order-list li{ line-height:.58rem; }
.order-list .pay-left{ text-align:left; padding-left:.24rem;}
.order-list .pay-right{float:right; padding-right:.24rem;}
.order-list .font-green{ color:#45ce0f;}
.order-list .font-gray{ color:#999;}
